/* .loader {
	position: relative;
}

.outer,
.middle,
.inner {
	border: 3px solid transparent;
	border-top-color: #3cefff;
	border-right-color: #3cefff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
}

.outer {
	width: 3.5em;
	height: 3.5em;
	margin-left: -1.75em;
	margin-top: -1.75em;
	animation: spin 2s linear infinite;
}

.middle {
	width: 2.1em;
	height: 2.1em;
	margin-left: -1.05em;
	margin-top: -1.05em;
	animation: spin 1.75s linear reverse infinite;
}

.inner {
	width: 0.8em;
	height: 0.8em;
	margin-left: -0.4em;
	margin-top: -0.4em;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
} */

.spinner {
	width: 3em;
	height: 3em;
	cursor: not-allowed;
	border-radius: 50%;
	border: 2px solid #444;
	box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2, 10px -10px 10px #f36896,
		10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500, 0 10px 10px 0px #ff9500,
		-10px 10px 10px 0px #ffb700;
	animation: rot55 0.7s linear infinite;
}

.spinnerin {
	border: 2px solid #444;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes rot55 {
	to {
		transform: rotate(360deg);
	}
}
