.goTopHidden {
	display: none;
}

.goTop {
	display: block;
	position: fixed;
	background: rgba(39, 114, 245, 0.8);
	box-shadow: 2px 2px 5px rgb(8, 191, 207);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	bottom: 10%;
	left: 95%;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
}

.goTopIcon {
	display: flex;
	justify-content: center;
	text-align: center;
}

.goTopIcon:hover {
	transform: scaleY(1.3);
	transform: scale(1.3);
	/* translate: 20px; */
}
